@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url(../images/header.jpg);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
    color: #ffffff;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
    color: #ffffff;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #f19b39;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.pacotes {
    background: #e5e5e5; 
    padding: 15px;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .pacotes-cards {
    display: flex;
    max-width: 950px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: #ffffff;
    border-radius: 24px 0;
    margin: 25px;
    position: relative;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #f19b39;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #1d61dd;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: .8rem;
    color: #ffffff;
    font-weight: bold;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: .6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: #808080;
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.servicos {
    padding: 15px;
}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards {
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;
}

.servicos .card svg:hover {
    stroke: #1d61dd;
    transform: scale(1.1);
}

.servicos .card h3 {
    font-weight: bold;
}

.servicos .card p {
    color: gray;
    font-size: .8rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.servicos button {
    background: #1d61dd;
}

.contato {
    padding: 60px;
    background: #e5e5e5;
    position: relative;
}

.contato .contato-card {
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;

    border-radius: 8px;

    top: calc(50% - 150px);
    left: calc(20% - 175px);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.contato .contato-card h1 {
    padding-left: 50px;
    text-align: left;
}

.contato .contato-card li {
    font-size: .8rem;
    font-weight: bold;
    color: gray;

    display: flex;
    align-items: center;
}

.contato .contato-card li svg {
    width: 16px;
    margin: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

/* RESPONSIVIDADE */ 

/* @media (min-width: 1200px) {} */

@media (max-width: 950px) {
    .contato {
        padding: 60px 0;
    }

    .contato .contato-card {
        left: 40px;
    }
}

@media (max-width: 800px) {
    .contato {
        padding: 20px 0;
    }

    .contato .contato-card {
        position: static;
        margin: 40px auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .header-content {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 250px;
    }
 }

@media (max-width: 767px) {

}

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        z-index: 100;
        
        background: #1d61dd;
        height: 55px;
        font-weight: bold;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}